#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../assets/bg-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    padding-top: 160px;
}

#header h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    color: #2f3292;
}

#header .brand-name {
    color: orange;
}

#header h2 {
    color: black;
    font-size: 24px;
}

#header .btn-get-started {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: orange;
    border: 2px solid orange;
    text-decoration: none;
}