.container {
  position: relative;
  text-align: center;
 
}

.image {
  width: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered Button{
    margin: 5%;
    padding: 2%;
}