.navbar {
  width: 100%;
  height: 5em;
}

.menu {
  padding-top: 3em;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  color: rgb(218, 0, 0) !important ;
  padding: 15px !important;
}

.nav-items {
  color: tomato;
}
.nav-link {
  color: tomato;
}
